<style>
	.tab-content {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 10px;
	}

	.nav-tabs {
		margin-bottom: 0;
	}
</style>
<script src="script/bestenliste.js"></script>
<div class="container">
	<div class="row mt-3">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			<div class="btn-group">
				<div class="dropdown">
					<button id="bestenliste-group-selected" class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
					<div id="groupDropdown" class="dropdown-menu" aria-labelledby="dropdownMenu2">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-6">
			<nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#tabSaisonBestenliste" role="tab" aria-controls="nav-home" aria-selected="true">Saison</a>
			    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#tabSpieltagBestenliste" role="tab" aria-controls="nav-profile" aria-selected="false">akt. Spieltag</a>
			    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#tabEwigeBestenliste" role="tab" aria-controls="nav-contact" aria-selected="false">ewige Tabelle</a>
			  </div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div id="tabSaisonBestenliste" class="tab-pane fade show active" role="tabpanel">
					<table id="saisonBestenliste" class="table">
						<tbody></tbody>
					</table>
				</div>
				<div id="tabSpieltagBestenliste" class="tab-pane fade" role="tabpanel">
					<table id="spieltagBestenliste" class="table">
						<tbody></tbody>
					</table>
				</div>
				<div id="tabEwigeBestenliste" class="tab-pane fade" role="tabpanel">
					<table id="ewigeBestenliste" class="table">
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#tabSaisonBestenlisteGroup" role="tab" aria-selected="true">Saison</a>
			    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#tabSpieltagBestenlisteGroup" role="tab" aria-selected="false">akt. Spieltag</a>
			    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#ewigeBestenlisteGroup" role="tab" aria-selected="false">ewige Tabelle</a>
			  </div>
			</nav>
			<div class="tab-content" id="nav-tabContent">			
				<div id="tabSaisonBestenlisteGroup" class="tab-pane fade show active" role="tabpanel">
					<table id="saisonBestenlisteGroup" class="table">
						<tbody></tbody>
					</table>
				</div>
				<div id="tabSpieltagBestenlisteGroup" class="tab-pane fade" role="tabpanel">
					<table id="spieltagBestenlisteGroup" class="table">
						<tbody></tbody>
					</table>
				</div>
				<div id="ewigeBestenlisteGroup" class="tab-pane fade" role="tabpanel">
					<table id="ewigeBestenlisteGroup" class="table">
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!--tab + card-->
<!-- Click eine Anfrage-->