<div class="container mt-3">
	<div class="row">
		<div id="ranking" class="col-4">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Vorname</th>
						<th scope="col">Nachname</th>
						<th scope="col">Punkte</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>1337</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>570</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>3</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-1"></div>
		<div id="spieltag" class="col-7">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-4 text-center">
						<a href=""><i class="fas fa-arrow-circle-left"></i></a>
						&nbsp;27. Spieltag&nbsp;
						<a href=""><i class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<th>Freitag, 28. Oktober</th>
					</tr>
					<tr>
						<td>
							<div class="row d-flex justify-content-between">
								<div class="col-5">
									<div class="float-right align-middle" style="font-size: 20px">
										Eintracht Frankfurt <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Eintracht_Frankfurt_Logo.svg/20px-Eintracht_Frankfurt_Logo.svg.png" />
									</div>
								</div>
								<div class="col-2 p-0">
									<div class="input-group">
										<input type="text" class="form-control form-control-sm" aria-describedby="basic-addon1" maxlength="2" style="height: 33px"></input>
										<div class="input-group-prepend" style="height: 33px">
											<span class="input-group-text" id="basic-addon1">:</span>
										</div>
										<input type="text" class="form-control form-control-sm" aria-describedby="basic-addon1" maxlength="2" style="height: 33px"></input>
									</div>
								</div>
								<div class="d-inline col-5">
									<div style="font-size: 20px">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/HSV-Logo.svg/20px-HSV-Logo.svg.png" /> HSV
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>Samstag, 29. Oktober</th>
					</tr>
					<tr>
						<td>
							<div class="row d-flex justify-content-between">
								<div class="col-5">
									<div class="float-right align-middle" style="font-size: 20px">
										Herta BSC <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Hertha_BSC_Logo_2012.svg/20px-Hertha_BSC_Logo_2012.svg.png" />
									</div>
								</div>
								<div class="col-2 p-0">
									<div class="input-group">
										<input type="text" class="form-control form-control-sm" aria-describedby="basic-addon1" maxlength="2" style="height: 33px"></input>
										<div class="input-group-prepend" style="height: 33px">
											<span class="input-group-text" id="basic-addon1">:</span>
										</div>
										<input type="text" class="form-control form-control-sm" aria-describedby="basic-addon1" maxlength="2" style="height: 33px"></input>
									</div>
								</div>
								<div class="d-inline col-5">
									<div style="font-size: 20px">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Borussia_M%C3%B6nchengladbach_logo.svg/12px-Borussia_M%C3%B6nchengladbach_logo.svg.png" /> Mönchengladbach
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="row d-flex justify-content-between">
								<div class="col-5">
									<div class="float-right align-middle" style="font-size: 20px">
										Mönchengl <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Borussia_M%C3%B6nchengladbach_logo.svg/12px-Borussia_M%C3%B6nchengladbach_logo.svg.png" />
									</div>
								</div>
								<div class="col-2 p-0">
									<div class="input-group">
										<input type="text" class="form-control form-control-sm" aria-describedby="basic-addon1" maxlength="2" style="height: 33px"></input>
										<div class="input-group-prepend" style="height: 33px">
											<span class="input-group-text" id="basic-addon1">:</span>
										</div>
										<input type="text" class="form-control form-control-sm" aria-describedby="basic-addon1" maxlength="2" style="height: 33px"></input>
									</div>
								</div>
								<div class="d-inline col-5">
									<div style="font-size: 20px">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Hertha_BSC_Logo_2012.svg/20px-Hertha_BSC_Logo_2012.svg.png" /> Herta BSC
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="float-right">
				<button type="button" class="btn btn-light">Tipp abgeben</button>
			</div>
		</div>
	</div>
</div>