<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="h1">Spielregeln</h1>
			<ul>
				<li>Ein korrekt getipptes Ergebnis gibt 4 Punkte für die Gesamtwertung.</li>
				<li>Eine korrekt getippte Tordifferenz gibt 3 Punkte für die Gesamtwertung.</li>
				<li>Eine korrekt getippte Tendenz (Sieg, Unentschieden, Niederlage) gibt 2 Punkte für die Gesamtwertung.</li>
				<li>Ein korrekt getippter Meister gibt 10 Punkte für die Gesamtwertung.</li>
			</ul>
		</div>
	</div>
</div>
