<div class="container">
	<div class="row">
		<ul id="userList" style="display: none;">
			
		</ul>
		<ul id="groupList" style="display: none;">
			
		</ul>
	</div>
</div>
<script>
	var token2 = Cookies.get('token');
		if(token2 != 'undefined')
		{
			var searchvalue = getUrlParameter('searchString');
			$.ajax({
				type: "GET",
				url: "backend/search/withParameters?token=" + token2 + "&searchString=" + searchvalue,
				success: function(response)
				{
					if(response.users.length != 0)
					{
						var t = $('#userList');
						$.each(response.users, function(i, v){
							var child = `<li><a href='#'><img src='${v.userPicture}'/>${v.userName}</a></li>`; 
							t.append(child);
						});
						t.show();
					}
					/*if(response.groups.length != 0)
					{
						var t = $('#userList');
						$.each(response.users, function(i, v){
							var child = `<li><a href='#'><img src='${v.userPicture}'/>${v.userName}</a></li>`; 
						});
						t.show();
					}*/
				}
			});
		}
		else
		{
			window.location.href = urlPath + "?page=login";
		}
</script>